asttokens
backcall
certifi
chardet
click
cmake
contourpy
cycler
decorator
dlib
executing
face-recognition-models
fonttools
imageio
ipython
jedi
joblib
kiwisolver
matplotlib
matplotlib-inline
networkx
numpy
packaging
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
PyWavelets
scikit-image
scikit-learn
scipy
six
stack-data
threadpoolctl
tifffile
traitlets
wcwidth
